@charset "UTF-8";
.hide .header {
  z-index: 99;
  font-family: "Bebas Neue", sans-serif;
  position: fixed;
  width: 100%;
}
.hide .header .contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide .header .contenido h1 {
  font-size: 4.4rem;
  font-family: 700;
}
.hide .header .contenido .icono-menu {
  display: none;
}
.hide .header .contenido .navegacion .lista-ordenada {
  display: flex;
  list-style: none;
}
.hide .header .contenido .navegacion .lista-ordenada .li {
  margin-right: 1.5rem;
}
.hide .header .contenido .navegacion .lista-ordenada .li .ico {
  display: none;
}
.hide .header .contenido .navegacion .lista-ordenada .li .a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 2.1rem;
  color: black;
  text-decoration: none;
}
.hide .header .contenido .navegacion .lista-ordenada .li:last-of-type {
  margin-right: 0rem;
}

@media screen and (max-width: 899px) {
  /*  */
  .hide .header {
    padding-top: 2rem;
  }
  .hide .header .contenido {
    display: flex;
    position: relative;
  }
  .hide .header .contenido h1 {
    font-size: 3rem;
  }
  .hide .header .contenido .icono-menu {
    display: block;
    padding-right: 3rem;
    padding-top: 0.5rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    transition: all 0.3 ease-in-out;
    overflow: hidden;
  }
  .hide .header .contenido .icono-menu .menu {
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 0.8rem;
    transition: all 0.3s ease-in-out;
  }
  .hide .header .contenido .ico-menu2 .x1 {
    transform: rotate(48deg);
    z-index: 2;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 1rem;
    position: absolute;
    left: 0.2rem;
    right: 0rem;
    bottom: 0rem;
    top: 1.8rem;
  }
  .hide .header .contenido .ico-menu2 .x0 {
    opacity: 0;
    visibility: hidden;
  }
  .hide .header .contenido .ico-menu2 .x2 {
    transform: rotate(314deg);
    z-index: 2;
    margin-top: 0.5rem;
    margin-left: 0rem;
    width: rem;
    margin-right: 1rem;
    position: absolute;
    left: 0.2rem;
    right: 0rem;
    top: 1.2rem;
  }
  .hide .header .contenido .navegacion {
    transform: translateX(-45rem);
    overflow: hidden;
    width: 30%;
    position: absolute;
    top: 8rem;
    left: 0rem;
    height: 35rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    background-color: rgba(2, 17, 153, 0.445);
  }
  .hide .header .contenido .navegacion .lista-ordenada {
    display: block;
    padding: 1rem;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li {
    text-align: left;
    padding-top: 4rem;
    position: relative;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li .ico {
    display: inline-flex;
    padding-right: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    width: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: invert(100%);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li .ico:hover {
    filter: invert(0%);
  }
  .hide .header .contenido .navegacion .lista-ordenada .li .a {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .hide .header .contenido .entra {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 627px) {
  .hide .header .contenido .navegacion {
    width: 5rem;
    border-radius: 5rem;
    min-width: 5rem;
  }
  .hide .header .contenido .navegacion .lista-ordenada {
    height: 100%;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li {
    margin-bottom: 2.5rem;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li .a {
    display: none;
  }
  .hide .header .contenido .navegacion .lista-ordenada .li:last-of-type {
    margin-bottom: 0;
  }
}
.hide {
  background-image: url(/img/Black\ Simple\ Dark\ Blogger\ Bio\ Link\ Website\ \(1\).avif);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.hide .HOME {
  padding-top: 10rem;
  display: flex;
}
.hide .HOME .introducion {
  padding-top: 2rem;
}
.hide .HOME .introducion .contenido-intro h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 0;
}
.hide .HOME .introducion .contenido-intro .parrafo {
  display: flex;
  justify-content: center;
}
.hide .HOME .introducion .contenido-intro .parrafo p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  width: 60%;
  margin-right: 0;
  margin: 0rem;
}
.hide .HOME .introducion .contenido-intro .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  text-align: center;
}
.hide .HOME .introducion .contenido-intro .img .btn {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(2, 1, 63);
  color: black;
  border: solid 0.1rem rgb(0, 0, 0);
}
.hide .HOME .introducion .contenido-intro .img .btn:hover {
  color: white;
}
.hide .HOME .introducion .contenido-intro .img .btn::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 4.1rem;
  background-color: black;
  top: 0rem;
  padding: 5rem 3rem;
  left: 3rem;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -1;
}
.hide .HOME .introducion .contenido-intro .img .btn:hover::before {
  cursor: pointer;
  padding: 2rem 7.5rem;
  top: 0;
  left: 0;
  opacity: 1;
}
.hide .HOME .introducion .contenido-intro .img img {
  width: 2.5rem;
  margin-right: 1rem;
}
.hide .HOME .foto {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide .HOME .foto img {
  width: 25rem;
  border-radius: 50%;
}
.hide .arrow {
  position: absolute;
  cursor: pointer;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.hide .arrow img {
  transform: rotate(90deg);
  width: 3.5rem;
}

@media only screen and (max-width: 599px) {
  /* Estilos para pantallas pequeñas (móviles) */
  .hide .HOME {
    padding-top: 5rem;
    display: block;
  }
  .hide .HOME .introducion {
    width: 100%;
    padding-top: 5rem;
  }
  .hide .HOME .foto {
    padding-top: 2rem;
  }
  .hide .HOME .foto img {
    width: 20rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  /* Estilos para tabletas en orientación vertical */
  .hide .HOME {
    padding-top: 15rem;
    display: block;
  }
  .hide .HOME .introducion {
    padding-top: 5rem;
  }
  .hide .HOME .introducion .contenido-intro h2 {
    font-size: 7rem;
  }
  .hide .HOME .introducion .contenido-intro .parrafo {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .hide .HOME .foto {
    padding-top: 5rem;
  }
  .hide .HOME .foto img {
    width: 20rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  /* Estilos para tabletas en orientación horizontal */
  .hide .HOME {
    padding-top: 20rem;
  }
  .hide .HOME .introducion {
    width: 100%;
    padding-top: 5rem;
  }
  .hide .HOME .introducion .contenido-intro h2 {
    text-align: left;
    font-size: 6rem;
  }
  .hide .HOME .introducion .contenido-intro .parrafo {
    justify-content: left;
  }
  .hide .HOME .introducion .contenido-intro .parrafo p {
    text-align: left;
  }
  .hide .HOME .introducion .contenido-intro .img {
    justify-content: left;
  }
  .hide .HOME .foto {
    padding-top: 7rem;
  }
  .hide .HOME .foto img {
    width: 30rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  /* Estilos para pantallas de escritorio pequeñas */
  .hide .HOME {
    padding-top: 13rem;
  }
  .hide .HOME .introducion {
    padding-top: 9rem;
  }
  .hide .HOME .introducion .contenido-intro h2 {
    text-align: left;
    font-size: 7rem;
  }
  .hide .HOME .introducion .contenido-intro .parrafo {
    justify-content: left;
  }
  .hide .HOME .introducion .contenido-intro .parrafo p {
    margin: 1rem 1rem;
    text-align: left;
  }
  .hide .HOME .introducion .contenido-intro .img {
    justify-content: left;
  }
  .hide .HOME .foto {
    padding-top: 7rem;
  }
  .hide .HOME .foto img {
    width: 35rem;
  }
}
@media only screen and (min-width: 1440px) {
  /* Estilos para pantallas de escritorio estándar */
  .hide .HOME {
    padding-top: 18rem;
  }
  .hide .HOME .introducion {
    padding-top: 9rem;
  }
  .hide .HOME .introducion .contenido-intro h2 {
    text-align: left;
    font-size: 8rem;
  }
  .hide .HOME .introducion .contenido-intro .parrafo {
    justify-content: left;
  }
  .hide .HOME .introducion .contenido-intro .parrafo p {
    margin: 1rem 1rem;
    text-align: left;
  }
  .hide .HOME .introducion .contenido-intro .img {
    justify-content: left;
  }
  .hide .HOME .foto {
    padding-top: 7rem;
  }
  .hide .HOME .foto img {
    width: 35rem;
  }
}
.contenido-principal .contenido-main .about-me .contenido h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contenido-principal .contenido-main .about-me .contenido .texto {
  display: flex;
  justify-content: center;
}
.contenido-principal .contenido-main .about-me .contenido .texto .contenido-text {
  text-align: center;
  width: 70%;
}
.contenido-principal .contenido-main .about-me .contenido .texto .contenido-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.contenido-principal .contenido-main .Portafolio-of-work {
  margin-top: 10rem;
}
.contenido-principal .contenido-main .Portafolio-of-work hr {
  width: 50%;
}
.contenido-principal .contenido-main .Portafolio-of-work h2 {
  font-size: 7rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 0fr));
  gap: 3rem;
  justify-content: center;
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja1, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja2, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja3, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja4 {
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 25rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.548);
  overflow: hidden;
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja1 .name, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja2 .name, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja3 .name, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja4 .name {
  position: absolute;
  background-color: rgba(3, 13, 73, 0.575);
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  border: none;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja1 {
  background-image: url(/img/cristiano-ronaldo_2880x1800_xtrafondos.com.jpg);
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja2 {
  background-image: url(/img/cristiano-ronaldo_2880x1800_xtrafondos.com.jpg);
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja3 {
  background-image: url(/img/cristiano-ronaldo_2880x1800_xtrafondos.com.jpg);
}
.contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja1::before, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja2::before, .contenido-principal .contenido-main .Portafolio-of-work .cajas-trabajo .caja3::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-color: white;
  top: -5rem;
  left: -4.2rem;
  transform: rotate(50deg);
}

.contenido-principal .skills {
  z-index: 1;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.contenido-principal .skills .titulo h2 {
  margin-bottom: 0;
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
}
.contenido-principal .skills .texto {
  margin-top: 3rem;
  height: 20rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: left;
  overflow: auto;
  position: relative;
}
.contenido-principal .skills .texto span {
  font-weight: 700;
  margin-right: 1rem;
  color: black;
}
.contenido-principal .skills .texto::-webkit-scrollbar {
  width: 0.5rem;
  position: absolute;
  right: 5rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.contenido-principal .skills .texto::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 721px) {
  .contenido-principal .skills {
    justify-content: center;
  }
  .contenido-principal .skills .titulo h2 {
    text-align: center;
  }
}
.contenido-principal .contenido-main .contact {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.contenido-principal .contenido-main .contact .contacto {
  width: 70%;
  height: auto;
}
.contenido-principal .contenido-main .contact .contacto h2 {
  font-size: 7rem;
  font-family: "Bebas Neue", sans-serif;
}
.contenido-principal .contenido-main .contact .contacto .form {
  position: relative;
  padding-bottom: 10rem;
  justify-content: center;
  text-align: center;
}
.contenido-principal .contenido-main .contact .contacto .form input[type=text], .contenido-principal .contenido-main .contact .contacto .form input[type=email] {
  height: 5rem;
  display: block;
  width: 100%;
  border: none;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.contenido-principal .contenido-main .contact .contacto .form textarea {
  width: 100%;
  height: 20rem;
  display: block;
  border: none;
  max-width: 100%;
  min-width: 100%;
  min-height: 20rem;
  max-height: 20rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
}
.contenido-principal .contenido-main .contact .contacto .form .enviar {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 1rem 10rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.contenido-principal .contenido-main .contact .contacto .form .boton {
  display: flex;
  justify-content: center;
  margin: 0;
}
.contenido-principal .contenido-main .contact .contacto .form .boton .error1 {
  transition: all 0.3s ease;
  background-color: red;
}
.contenido-principal .contenido-main .contact .contacto .form .boton .valido {
  background-color: green;
}
.contenido-principal .contenido-main .contact .contacto .form .boton .invi {
  background-color: transparent;
}
.contenido-principal .contenido-main .contact .contacto .form .boton .error {
  display: block;
  opacity: 1;
  text-align: center;
  margin-top: 1rem;
  height: 3rem;
  width: 20rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  border-radius: 0.2rem;
}
.contenido-principal .contenido-main .contact .contacto .form .boton1 {
  display: none;
}
.contenido-principal .contenido-main .contact .contacto .form .nulo {
  display: none;
}
.contenido-principal .contenido-main .contact .contacto .form .spinner {
  display: block;
  margin: 100px auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 40px;
  height: 40px;
  position: relative;
}
.contenido-principal .contenido-main .contact .contacto .form .cube1, .contenido-principal .contenido-main .contact .contacto .form .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.contenido-principal .contenido-main .contact .contacto .form .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.contenido-principal .contenido-main .contact .extra {
  width: 30%;
  margin-top: 14rem;
  margin-bottom: 0;
  text-align: center;
}
.contenido-principal .contenido-main .contact .extra h3 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
}

@media only screen and (max-width: 769px) {
  .contenido-principal .contenido-main .contact {
    margin-top: 20rem;
    display: block;
    justify-content: center;
  }
  .contenido-principal .contenido-main .contact .contacto {
    width: 100%;
  }
  .contenido-principal .contenido-main .contact .contacto h2 {
    text-align: center;
  }
  .contenido-principal .contenido-main .contact .contacto .form {
    text-align: center;
    /*   input[type="text"], input[type="email"]{


      }
      textarea{
          width: 100%;




      } */
  }
  .contenido-principal .contenido-main .contact .contacto .form .enviar {
    right: 9.5rem;
    padding: 1rem 9rem;
  }
  .contenido-principal .contenido-main .contact .extra {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0;
    width: 100%;
  }
  .contenido-principal .contenido-main .contact .extra h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .contenido-principal .contenido-main .contact .extra p {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }
}
.footer {
  background-color: black;
}
.footer .contra {
  justify-content: center;
}
.footer .contra h3 {
  padding-top: 4rem;
  text-align: center;
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  margin-bottom: 2rem;
}
.footer .contra .redes {
  padding-bottom: 2rem;
  text-align: center;
}
.footer .contra .redes img {
  margin-right: 7rem;
  width: 10%;
}
.footer .contra .redes img:last-of-type {
  margin-right: 0rem;
}
.footer .contra .frace {
  text-align: center;
  padding-bottom: 2rem;
}
.footer .contra .frace p {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  color: white;
  font-style: italic;
}

@media only screen and (min-width: 769px) {
  .footer .contra .redes img {
    width: 7rem;
  }
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #585ce2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 320px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
